<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/order/laborOrder.css}">
    <title>Labor order page</title>
</head>
    <body>

        <header>
            <h1>ADD LABOR TO ORDER</h1>
        </header>

        <div class="container">
            <form class="form-search" action="#" th:action="@{/laborOrder/searchLabor}" method="GET">
                <div th:if="${param.deleted}" class="alert">
                    Labor was already deleted from the order!
                </div>
                <div class="group">
                    <input type="submit" value="Search labor" class="btn">
                    <input th:type="text" name="laborDescription" class="field"/>
                </div>
            </form>
    
                          <!-- table labor  -->
                <div class="table1">
                    <table class="general-labor">
                        <thead>
                            <tr>
                                <th>Labor Description</th>
                                <th>Labor Category</th>
                                <th>Labor Time</th>
                                <th>Add Labor to Order</th>
                            </tr>
                        </thead>
            
                        <tbody>
                            <tr th:each="labor : ${labors}">
                                <td th:text="${labor.laborDescription}"/>
                                <td th:text="${labor.category}"/>
                                <td th:text="${labor.timedLabor}"/>
            
                                <td>
                                    <a th:href="@{/laborOrder/addLaborToOrder(laborId=${labor.id})}" class="link">
                                        <input type="button" class="add-btn" value="Add labor to order" onclick="addLabor()">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
               

    
           
    
    
                           <!--Table labor order  -->
    
            <div class="table2">
                <table class="labor-order">
                   
                        <thead>
                            <tr>
                                <th>Labor Description</th>
                                <th>Labor Category</th>
                                <th>Labor Time</th>
                                <th>Labor Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each=" laborInOrder : ${orderLabors} ">
                                <td th:text="${laborInOrder.laborDescription}"></td>
                                <td th:text="${laborInOrder.category}"></td>
                                <td th:text="${laborInOrder.timedLabor}"></td>
                                <td th:text="${laborInOrder.laborPrice}"></td>
                                <td>
                                    <form class="link" action="#" th:action="@{/laborOrder/deleteLabor}" method="POST">
                                        <input type="hidden" name="laborId" th:value="${laborInOrder.id}">
                                        <input type="submit" value="DELETE" class="delete-btn" onclick="deleteLabor()"/>
                                    </form>
                                </td>
                            </tr>
                        </tbody>

                    
                   
                    
                </table>
            </div>
            
           
            <div class="links">
                <a th:href="@{/app/main}"><input type="button" class="link-btn"value="Home"/></a>
    
                <a th:href="@{/orderPart/addPart-page}"><input type="button" class="link-btn" value="Add Part to Page"/></a>
            </div>
        </div>

        <footer>
            <p>powerd by Ginitoru<span>&trade;</span></p>
        </footer>

        <script th:inline="javascript">
            function deleteLabor(){
                const orderStatus = [[${order.orderStatus}]];
                const orderId = [[${order.id}]];

                if(orderStatus.toString() === 'CLOSE') {
                    alert('order nr: ' + orderId + " is CLOSED. You can't modify the order!")
                }

                if(orderStatus.toString() !== 'CLOSE') {
                    return confirm('Do you really want to delete this part?')
                }
            }
        </script>

        <script th:inline="javascript">
            function addLabor(){
                const orderStatus = [[${order.orderStatus}]];
                const orderId = [[${order.id}]];

                if(orderStatus.toString() === 'CLOSE') {
                    alert('order nr: ' + orderId + " is CLOSED. You can't modify the order!")
                }
            }

        </script>



    </body>
</html>