<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h1>ADD LABOR TO ORDER</h1>

                <br>
                <br>


        <form action="#" th:action="@{/laborOrder/searchLabor}" method="GET">

            <div>
                <input type="submit" value="Search labor">
                <input th:type="text" name="laborDescription"/>
            </div>
        </form>

                        <br>
                        <br>

        <table>
                <thead>
                    <tr>
                        <th>Labor Description</th>
                        <th>Labor Category</th>
                        <th>Labor Time</th>
                        <th>Add Labor to Order</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="labor : ${labors}">
                        <td th:text="${labor.laborDescription}"></td>
                        <td th:text="${labor.category}"></td>
                        <td th:text="${labor.timedLabor}"></td>

                        <td>
                            <a th:href="@{/laborOrder/addLaborToOrder(laborId=${labor.id})}">
                                    <input type="button" value="Add labor to order">
                            </a>
                        </td>
                    </tr>
                </tbody>
        </table>


                        <br>
                        <br>


        <table>
            <thead>
                <tr>
                    <th>Labor Description</th>
                    <th>Labor Category</th>
                    <th>Labor Time</th>
                    <th>Labor Price</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each=" laborInOrder : ${orderLabors} ">
                    <td th:text="${laborInOrder.laborDescription}"></td>
                    <td th:text="${laborInOrder.category}"></td>
                    <td th:text="${laborInOrder.timedLabor}"></td>
                    <td th:text="${laborInOrder.laborPrice}"></td>
                </tr>


            </tbody>



        </table>





        <br>
    <div>
        <a th:href="@{/main}"><input type="button" value="Home"/></a>

        <a th:href="@{/addPart-page}"><input type="button" value="Add Part to Page"/></a>
    </div>

</body>
</html>