<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <h1>ADD PARTS TO SERVICE ORDER</h1>

                <br>
                <br>

       <div class="container">



    <!--SEARCH PART-->
               <div class="from-1">
                   <form action="#" th:action="@{/orderPart/findPart}" method="GET">
                       <div class="form-group">
                           <input type="submit" class="btn" value="Search"/>
                           <input type="text", name="partNumber" class="field">
                           <label th:if="${param.part}">part not found</label>
                       </div>
                                  <br>

                   </form>
               </div>

                            <br>


<!-- PART FIELDS-->

               <div class="part-attributes">

                   <div>
                       <label>Part name:</label>
                       <label th:text="${part.partName}"></label>
                   </div>

                                <br>

                   <div>
                       <label>Part number:</label>
                       <label th:text="${part.partNumber}"></label>
                   </div>
                                <br>

                   <div>
                       <label>Part count:</label>
                       <label th:text="${part.count}"></label>
                   </div>

                                <br>

                   <div>
                       <label>Part price:</label>
                       <label th:text="${part.price}"></label>
                   </div>
               </div>

                        <br>
                        <br>


<!--ADD PART TO SERVICE ORDER-->

               <div class="add-part">
                    <form action="#" th:action="@{/orderPart/addPartToOrder}" method="POST">

                        <div>
                            <label>Part count: </label>
                            <input type="text" name="count"/>
                        </div>

                             <br>

                        <div>
                            <input type="submit" value="Add part">
                        </div>
                    </form>
               </div>

                            <br>
                            <br>



<!--   TABLE -->


           <div>
               <table class="table">
                   <thead>
                   <tr>
                       <th>Part name</th>
                       <th>Part number</th>
                       <th>Part price</th>
                       <th>Part count</th>
                       <th>Action</th>
                   </tr>
                   </thead>

                   <tbody>

                   <tr th:each="bau : ${serviceOrderParts}">
                       <td th:text="${bau.partName}"></td>
                       <td th:text="${bau.partNumber}"></td>
                       <td th:text="${bau.price}"></td>
                       <td th:text="${bau.count}"></td>
                       <td>

                           <a th:href="@{/orderPart/deletePart(partNumber=${bau.partNumber}, count =${bau.count})}">
                               <input type="button" value="DELETE"
                                      onclick=" return confirm('Do you really want to delete this part?')"/>
                           </a>


                       </td>
                   </tr>
                   </tbody>
               </table>

           </div>

                <br>



           <div>
              <a th:href="@{/main}"><input type="button" value="Home"/></a>
               <a th:href="@{/laborOrder/laborOrderPage}"><input type="button" value="Add Labor to Order"/></a>
           </div>






       </div>


</body>
</html>