<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/order/serviceOrder.css}">
    <title>Order page</title>
</head>
<body>
        <header>
            <h1>Order Page</h1>
        </header>
        


        <div class="container">

                                                <!-- SEARCH CAR -->


            <div class="car">

                <form action="#" th:action="@{/serviceOrder/searchCar}" class="form-car" method="GET">

                    <div class="form-group">
                        <label>VIN/Serial number:</label>
                        <input type="text" name="serialNumber" class="field"/>
                        <label th:if="${param.vehicleNotFound}">
                            vehicle not found
                        </label>
                    </div>
    
                                
                    <div class="generic-label">
                        <label>VIN/Serial number: </label>
                        <label th:text="${vehicle.serialNumber}"></label>

                    </div>

                                

                    <div class="generic-label">
                        <labe class="label1">Manufacturer: </labe>
                        <label th:text="${vehicle.carManufacturer}"></label>
                    </div>

                                

                    <div class="generic-label">
                        <label class="label2">Car model: </label>
                        <label th:text="${vehicle.carModel}"></label>
                    </div>

                              

                    <input type="submit" class="btn" value="Search car"/>
                </form>

            </div>
               
            

                                                   


                                        <!--FIND PERSON-->

            <div class="person">

                <div class="person-info">
                    <div class="generic-label">
                        <label class="label3" >cnp: </label>
                        <label th:text="${person.cnp}"></label>
                    </div>

                    

                    <div class="generic-label">
                        <label>First name: </label>
                        <label th:text="${person.firstName}"></label>
                    </div>

                   

                    <div class="generic-label">
                        <label>Last name: </label>
                        <label th:text="${person.lastName}">xx</label>
                    </div>
                </div>

                <form action="#" th:action="@{/serviceOrder/findPerson}" class="form-person" method="GET">
                    <div class="form-group">
                        <input type="text" name="cnp" class="field">
                        <label th:if="${param.personNotFound}">
                            person not found
                        </label>

                        <input type="submit" class="btn" value="Find person">
                    </div>
                </form>               
            </div>    
               




                                                




                                            <!-- SEARCH COMPANY-->


            <div class="company"> 
                <div class="find-company">
                    <div class="generic-label">
                        <label class="label4">cui: </label>
                        <label th:text="${company.cui}">xx</label>
                    </div>


                    

                    <div class="generic-label">
                        <label >Name: </label>
                        <label th:text="${company.name}">xx</label>
                    </div>
                </div>

                <form action="#" th:action="@{/serviceOrder/findCompany}" class="form-company" method="GET">
                    <div class="form-group">                     
                        <input type="text" name="cui" class="field"/>
                        <label th:if="${param.companyNotFound}">
                            company not found
                        </label>

                        <input type="submit" class="btn" value="Find Company"/>
                    </div>
                </form>
            </div>

                               

            




                                <!--CAR PROBLEMS-->

            <div class="car-problems">
                <form action="#" th:action="@{/serviceOrder/carProblems}" method="POST" class="problems">
                    <label>Car problems</label>
                    
                    <div class="text">
                        <textarea name="carProblems" ></textarea>
                    </div>
                   


                                      
                   
                        <input  type="submit" class="btn" value="Create Order"

                                th:onclick="'selection()'"/>
                    

<!--                    -->
<!--                        <input  type="submit" class="btn" value="Create Order"-->
<!--                                th:if="${vehicle.id != 0 && !(person.id == 0 && company.id == 0)}"/>-->
                    


                </form>                              
            </div>


            <a th:href="@{/app/main}" class="link">
                <input type="button" class="btn" value="Home"/>
            </a>
        </div>

        <footer>
            <p>powerd by Ginitoru<span>&trade;</span></p>
        </footer>




        <script th:inline="javascript">
            function selection() {

                const vehicleId = [[${vehicle.id}]];
                const personId = [[${person.id}]];
                const companyId = [[${company.id}]];


                if (vehicleId === 0) {
                    alert("Select a vehicle!");
                    return;
                }

                if((personId === 0 && companyId === 0)){
                    alert("Select a person or company!")
                    return;
                }

                alert("Order created!")
            }
        </script>

    </body>
</html>