<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index/index.css}">

</head>
<body>
 


        <div class="container">
            
            <div class="img">



            </div>
            <div class="group-buttons">
                <div class="img2"></div>
                <div class="button-div">
                    <a  th:href="@{/createUserPage}"><input type="button" value="Create User" class="button"/></a>
                </div>
    
                <div class="button-div">
                    <a th:href="@{/login}" ><input type="button" value="Login" class="button"></a>
                </div>

                <footer class="footer">
                    <p>
                        Ginitoru's app! Now, don't run away just yet :)
                    </p>
                
                </footer>
    
            </div>
            
        </div>

    

       

           






</body>
</html>