<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h1>AM INTRAT</h1>


   <div class="container">

       <div class="buttons">

               <div class="group-button">
                   <a th:href="@{/parts/part}"><input type="button" class="btn" value="Parts"/></a>
               </div>

                    <br>

               <div class="group-button">
                   <a th:href="@{/clients/client}"><input type="button" class="btn"value="Client"/></a>
               </div>

                    <br>

                <div class="group-button">
                    <a th:href="@{/vehicles/vehicle}"><input type="button" class="btn" value="Vehicle"/></a>
                </div>

                    <br>

                <div class="group-button">
                    <a th:href="@{/labors/laborsList}"><input type="button" class="btn" value="Labor"/></a>
                </div>



       </div>
   </div>





</body>
</html>