<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h1>AM INTRAT</h1>


   <div class="container">

       <div class="buttons">

               <div class="group-button">
                   <a th:href="@{/parts/part}"><input type="button" class="btn" value="Parts"/></a>
               </div>

                    <br>

               <div class="group-button">
                   <a th:href="@{/clients/client}"><input type="button" class="btn"value="Client"/></a>
               </div>

                    <br>

                <div class="group-button">
                    <a th:href="@{/vehicles/vehicle}"><input type="button" class="btn" value="Vehicle"/></a>
                </div>

                    <br>

                <div class="group-button">
                    <a th:href="@{/labors/labor}"><input type="button" class="btn" value="Labor"/></a>
                </div>

                    <br>

                <div class="group-button">
                    <a th:href="@{/prices/showPrices}"><input type="button" class="btn" value="Labor Prices"></a>

                </div>

                    <br>

                <div class="group-button">
                    <a th:href="@{/serviceOrder/serviceOrder}"><input type="button" class="btn" value="Service Order"/></a>

                </div>
       </div>

                <br>


<!--       TABLE   -->

       <div class="tab">

           <table class="table">
            <thead>
                <tr>
                    <th>Orders</th>
                    <th>Status</th>
                </tr>
            </thead>

           <tbody>
                <tr th:each="IdStatus : ${serviceOrderIdAndStatus}">
                    <td><a th:href="@{/order-stats/(orderId=${IdStatus.id})}" th:text="${IdStatus.id}"/></td>
                    <td th:text="${IdStatus.orderStatus}">
                </tr>
           </tbody>
           </table>
       </div>


                            <br>
                            <br>

        <div>
            <label>Order nr:</label>
            <label th:text="${serviceOrder.id}"></label>
        </div>


                        <br>
                        <br>

<!--       PART TABLE-->

       <table>
           <thead>
            <tr>
                <th>Part</th>
                <th>Part nr:</th>
                <th>Count</th>
                <th>Price</th>
            </tr>
           </thead>

           <tbody>
                <tr th:each="part : ${partsOrder}">
                    <td th:text="${part.partName}"/>
                    <td th:text="${part.partNumber}"/>
                    <td th:text="${part.count}"/>
                    <td th:text="${part.price}"/>
                </tr>
           </tbody>
       </table>


                            <br>
                            <br>

       <table>
           <thead>
           <tr>
               <th>Labor</th>
               <th>Labor Category</th>
               <th>Labor time</th>
               <th>Labor price</th>
           </tr>
           </thead>

           <tbody>
           <tr th:each="labor : ${laborsOrder}">
               <td th:text="${labor.laborDescription}"/>
               <td th:text="${labor.category}"/>
               <td th:text="${labor.timedLabor}"/>
               <td th:text="${labor.laborPrice}"/>
           </tr>
           </tbody>
       </table>








                            <br>
                            <br>


       <a th:href="@{/addPart-page}"><input type="button" value="Add Parts to Order"/></a>

       <a th:href="@{/laborOrder/laborOrderPage}"><input type="button" value="Add Labor to Order"/></a>









   </div>





</body>
</html>