<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h1>PartPage</h1>


        <div class="form">
            <form action="#" th:action="@{/parts/createPart}"
                             th:object="${part}" method="POST">

                <h2>Add Part to Warehouse</h2>


                <div class="form-group">
                    <label class="label">Part number</label>
                    <input type="text" class="field" th:field="*{partNumber}"/>
                    <label th:if="${#fields.hasErrors('partNumber')}" th:errors="*{partNumber}"></label>
                </div>

                    <br>

                <div class="form-grup">
                    <label>Part name</label>
                    <input type="text" class="field" th:field="*{partName}"/>
                    <label th:if="${#fields.hasErrors('partName')}" th:errors="*{partName}"></label>
                </div>

                    <br>


                <div class="form-group">
                    <label>Price</label>
                    <input type="text" class="field" th:field="*{price}"/>
                    <label th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></label>
                </div>

                    <br>

                <div class="form-group">
                    <label>Count</label>
                    <input type="text" class="field" th:field="*{count}"/>
                    <label th:if="${#fields.hasErrors('count')}" th:errors="*{count}"></label>
                </div>

                    <br>

                <input type="submit" class="button" value="Add part"/>

            </form>

                                <br>
            <a th:href="@{/main}"><input type="button" class="btn" value="Home"/></a>

        </div>




</body>
</html>