<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Part page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/auto/part.css}">
</head>

<body>

        <header>
            <h1>Here you can store parts in the warehouse</h1>
        </header>
        





        <div class="form">
            <form class="form-group" action="#" th:action="@{/parts/createPart}"
                             th:object="${part}" method="POST">

                


                <div class="button-group">
                    <label class="label1">Part number</label>
                    <input type="text" class="field" th:field="*{partNumber}"/>
                    <label th:if="${#fields.hasErrors('partNumber')}"   th:errors="*{partNumber}" class="error"></label>
                </div>

                  

                <div class="button-group">
                    <label class="label2">Part name</label>
                    <input type="text" class="field" th:field="*{partName}"/>
                    <label th:if="${#fields.hasErrors('partName')}" th:errors="*{partName}" class="error"></label>
                </div>

                    


                <div class="button-group">
                    <label class="label3">Price</label>
                    <input type="text" class="field" th:field="*{price}"/>
                    <label th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="error"></label>
                </div>

                    

                <div class="button-group">
                    <label class="label4">Count</label>
                    <input type="text" class="field" th:field="*{count}"/>
                    <label th:if="${#fields.hasErrors('count')}" th:errors="*{count}" class="error"></label>
                </div>

                    
                <div class="btn">
                    <input type="submit" class="button" value="STORE PART"/>
                </div>

              
                

            </form>

            <a class="link-home" th:href="@{/main}">
                <input type="home" class="btn-home" value="Home"/>
            </a>               
          

        </div>

        <footer>
            <p> powerd by: Gitnitoru</p>
        </footer>




</body>
</html>