<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
</head>
<body>

        <h1>Service Order Page</h1>


        <div class="container">

<!--   SEARCH CAR         -->


            <div class="search-car">
                <form action="#" th:action="@{/serviceOrder/searchCar}" class="form-search-car" method="GET">

                                        <div class="form-group">
                                            <label>Search car: VIN/Serial number:</label>
                                            <input type="text" name="serialNumber" class="field"/>
                                        </div>
                        
                                                    <br>
                                        <div>
                                            <label>VIN/Serial number: </label>
                                            <label th:text="${vehicle.serialNumber}"/>
                                        </div>

                                                    <br>

                                        <div>
                                            <labe>Manufacturer: </labe>
                                            <label th:text="${vehicle.carManufacturer}"/>
                                        </div>

                                                    <br>

                                        <div>
                                            <label>Car model: </label>
                                            <label th:text="${vehicle.carModel}"/>
                                        </div>

                                                    <br>

                                     <input type="submit" class="btn" value="Search car"/>
                </form>
            </div>

                                                    <br>
                                                    <br>


<!--   FIND PERSON         -->

            <div class="search-person" >
                <form action="#" th:action="@{/serviceOrder/findPerson}" class="form-search-client" method="GET">

                                        <div class="form-group">
                                            <input type="submit" class="btn" value="Find person">
                                            <input type="text" name="cnp" class="field">
                                        </div>

                </form>
            </div>

                                             <br>



            <div class="person-info">
                                        <div>
                                            <label>cnp: </label>
                                            <label th:text="${person.cnp}"/>
                                        </div>

                                        <br>

                                        <div>
                                            <label>First name: </label>
                                            <label th:text="${person.firstName}"/>
                                        </div>

                                        <br>

                                        <div>
                                            <label>Last name: </label>
                                            <label th:text="${person.lastName}"/>
                                        </div>
            </div>




                                                 <br>




<!-- SEARCH COMPANY-->


            <div class="search-company">
                <form action="#" th:action="@{/serviceOrder/findCompany}" class="form-search-company" method="GET">

                                <div class="form-group">
                                    <input type="submit" class="btn" value="Find Company"/>
                                    <input type="text" name="cui" class="field"/>
                                </div>
                </form>
            </div>

                                <br>

            <div class="find-company">
                            <div>
                                <label>cui: </label>
                                <label th:text="${company.cui}"/>
                            </div>


                            <br>

                            <div>
                                <label>Name: </label>
                                <label th:text="${company.name}"/>
                            </div>

                            <br>
            </div>



            <div class="car-problems">
                <form action="#" th:action="@{/serviceOrder/carProblems}" method="POST">
                    <label>Car problems</label>
                    <br>
                    <textarea name="carProblems" class="text" rows="10" cols="50"></textarea>


                                         <br>
                    <div>
                        <input type="submit" class="btn-car-problems" value="Create Order"/>
                    </div>


                </form>
                                <br>





            </div>




            <br>
            <a th:href="@{/intra}"><input type="button" class="btn" value="Home"/></a>
        </div>



</body>
</html>