<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resend Token</title>

</head>
<body>


        <h1>TOKEN PAGE</h1>
    <hr>
    <br>
    <br>

    <form action="#" th:action="@{/create-token}"
            th:object="${token}" method="POST">

        <div th:if="${param.activated}">
            <h2>ACCOUNT IS ALREADY ACTIVE</h2>
        </div>

        <div th:if="${param.expired}">

            <h3>Account is not active</h3>
            <br>
            <h3>Enter email to resend activation token</h3>

            <input th:field="*{user.email}" placeholder="email">

            <input type="submit" value="Resend Token">
        </div>




    </form>


</body>
</html>