<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resend Token</title>

</head>
<body>


        <h1>TOKEN PAGE</h1>
    <hr>
    <br>
    <br>

    <form action="#" th:action="@{/resendToken}"
            th:object="${token}" method="POST">

        <div>
            <h3>Account is not active</h3>
            <br>
            <h3>Enter email to resend activation token</h3>



            <input type="text" id="email" name="email" placeholder="email">

            <input type="submit" value="Resend Token">

            <div th:if="${param.error}">
                <h3>wrong email adress</h3>
            </div>

        </div>




    </form>


</body>
</html>