<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/activation/resend-token.css}"/>
    <title>Resend activation email</title>

</head>
    <body>
        <header>
            <h1>Account is not active</h1>
        </header>


            <div class="text">          
                <h3>Enter email in the field below to activate account:</h3>
            </div>

            <div class ="error" th:if="${param.error}">
                <h4>wrong email adress</h4>
            </div>

        <div class="resend-token-form">     
            <form class="form" action="#" th:action="@{/resendToken}" th:object="${token}" method="POST"> 
                 
                    <input class="field" type="text" name="email" placeholder="email adress"/>
                    <input class ="btn" type="submit" value="Send activation email" onclick="showSendEmailAlert()"/>
               

                
                
            </form>   
        </div>

        <footer>
            <div class="bottom">
                <p><p>Ginitoru<span>&trade;</span></p></p>
            </div>
        </footer>

        <script th:inline="javascript">
            function showSendEmailAlert(){
                alert('An email was sent to your email address to activate the account!')
            }
        </script>


    </body>
</html>