<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resend Token</title>

</head>
<body>


        <div th:if="${param.active}">
            <h1>Account is active</h1>
        </div>

        <div th:if="${param.invalidToken}">
            Activation token is no longer valid.
         <div>
             To resend a new activation token click the button below.
            <a th:href="@{/token}"><button type="button">Resend Token</button></a>




         </div>
        </div>


</body>
</html>