*{
    margin: 0;
    padding: 0;
}


body{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    min-height: 350px;
    min-width: 360px;
    
}

header{
    height: 10%;
    margin: auto;
    display: flex;
}

header h1{
    margin: auto;
}


.login-page{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 15%;
}

p{
    font-weight: 600;
}

.login{
    font-weight: 600;
    margin: 10px;
    font-size: 18px;
    text-decoration: none;
    color: tomato;
}


.login:hover{
    cursor: pointer;
    color: rgb(62, 126, 89);   
    text-decoration: underline;
}



footer{
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: tomato;
    display: flex;
}

.bottom{
    margin: auto;
    color: white;
    font-weight: 600;
    font-size: 18px;
}
