<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Labor Price Page</h1>

        <div class="container">


            <div class="form-container">

                    <form action="#" th:action="@{/prices/setPrices}" class="form" method="POST">

                        <div class="form-group">
                            <label>Mechanical Price</label>
                            <span th:if="${laborPrices.id == 0}">
                                <input type="text" name="mechanicalLaborPrice" class="field" />
                            </span>
                                <label th:text="${laborPrices.mechanicalLaborPrice}"/>
                        </div>

                                    <br>

                        <div class="form-group">
                            <label>Body Price</label>
                            <span th:if="${laborPrices.id == 0}">
                                <input type="text" name="bodyLaborPrice" class="field" />
                            </span>
                            <label th:text="${laborPrices.bodyLaborPrice}"/>
                        </div>

                                     <br>

                        <div class="form-group">
                            <label>Electrical Price</label>
                            <span th:if="${laborPrices.id == 0}">
                                <input type="text" name="electricalLaborPrice" class="field"/>
                            </span>
                                <label th:text="${laborPrices.electricalLaborPrice}"/>
                        </div>

                                      <br>

                        <div class="form-group">
                            <label>Normal Price</label>
                            <span th:if="${laborPrices.id == 0}">
                                <input type="text" name="normalLaborPrice" class="field"/>
                            </span>
                                <label th:text="${laborPrices.normalLaborPrice}"/>
                        </div>

                                         <br>

                        <div class="form-group">
                            <label>Itp Diesel Price</label>
                            <span th:if="${laborPrices.id == 0}">
                                <input type="text" name="itpDieselEnginePrice" class="field"/>
                            </span>
                                <label th:text="${laborPrices.itpDieselEnginePrice}"/>
                        </div>

                                         <br>

                        <div class="form-group">
                            <label>Itp Gasoline Price</label>
                            <span th:if="${laborPrices.id == 0}">
                                <input type="text" name="itpGasolineEnginePrice" class="field"/>
                            </span>
                                <label th:text="${laborPrices.itpGasolineEnginePrice}"/>
                        </div>

                                        <br>

                        <div class="form-group">
                            <label>Itp Suv Price</label>
                            <span th:if="${laborPrices.id == 0}">
                                <input type="text" name="itpSuvPrice" class="field"/>
                            </span>
                                <label th:text="${laborPrices.itpSuvPrice}"/>
                        </div>

                                         <br>

                        <div class="form-group">
                            <label>Itp Truck Price</label>
                            <span th:if="${laborPrices.id == 0}">
                                <input type="text"  name="itpTruckPrice" class="field"/>
                            </span>
                                <label th:text="${laborPrices.itpTruckPrice}"/>
                        </div>

                                         <br>

                        <input type="submit" class="btn" value="Create Prices" />
                    </form>
            </div>



                                            <br>
                                            <br>

            <div class="refresh">
                <a th:href="@{/prices/refresh}"><input type="button" value="Refresh" class="refresh-btn"/></a>

            </div>




            <div class="update-container" th:if="${laborPrices.id != 0.0}">
                    <form action="#" th:action="@{/prices/updatePrice}" class="update-form" method="POST">

                        <label>Update Price</label>
                        <input th:type="text" th:name="updatePrice" class="update-field"/>

                            <br>
                            <br>


                        <select th:name="category">
                                <option th:each=" cat : ${category}"
                                            th:value="${cat.toString()}" th:text="${cat.toString()}">
                                </option>
                        </select>


                        <br>
                        <br>

                        <input type="submit" class="upd-button" value="Update"/>
                    </form>
            </div>

                            <br>
                <a th:href="@{/main}"><input type="button" class="btn" value="Home"/></a>

        </div>



</body>
</html>