<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h1>LaborPage Create Labor</h1>

            <br>

        <div class="container">

            <form action="#" th:action="@{/labors/create-labor}" class="form"
                                th:object="${labor}" method="POST">

                <div class="form-group">
                    <label class="label">Description</label>
                    <input type="text" class="field" th:field="*{laborDescription}"/>
                </div>

                    <br>

                <div class="form-group">
                    <label class="label" >Labour time</label>
                    <input type="text" class="field" th:field="*{timedLabor}"/>
                </div>

                    <br>
                <div class="selection">
                        <div>
                            <label class="label-category">Category</label>
                        </div>

                            <br>

                        <select th:field="*{category}">

                            <option th:each="cat : ${laborCategory}"
                                    th:value="${cat.toString()}" th:text="${cat.toString()}"></option>
                        </select>
                </div>

                    <br>

                <div>
                    <input type="submit" class="btn" value="Submit"/>
                </div>


            </form>


                    <br>
                    <br>

<!--TABLE-->



         <form action="#" th:action="@{/labors/laborsList}" class="form-table"  method="GET">

             <input type="submit" class="btn" value="SearchAll"/>
             <input type="text" th:name="laborDescription" class="search-field"/>


            <br>
             <br>

             <div class="table-container">
                 <table class="table">
                     <thead>
                     <tr>
                         <th>Description</th>
                         <th>Category</th>
                         <th>Time</th>
                         <th>Action</th>
                     </tr>
                     </thead>

                     <tbody>
                     <tr th:each="theLabor : ${laborList}">
                         <td th:text="${theLabor.laborDescription}"/>
                         <td th:text="${theLabor.category}"/>
                         <td th:text="${theLabor.timedLabor}"/>
                         <td>
                             <a th:href="@{/labors/laborsList(laborId=${theLabor.id})}"><input type="button" class="update-btn" value="Modify"/></a>
                             <a th:href="@{/labors/delete(laborId=${theLabor.id})}"><input type="button" class="delete-btn" value="Delete"
                                         onclick="return confirm('Are you sore you want to delete this entry?')"/></a>
                         </td>
                     </tr>
                     </tbody>
                 </table>
             </div>
         </form>

            <br>
            <br>

        <div>


<!--    UPDATE-->



            <form action="#" th:action="@{/labors/update}" class="form-update"
                  th:object="${laborUpdate}" method="POST">

                    <br>

                <div th:if="${param.laborId}">

                    <div class="text-update">
                        <h3>Modify labor</h3>
                    </div>

                    <input type="hidden" th:field="*{id}"/>

                    <div class="field-update">
                        <label>Description</label>
                        <input type="text" th:field="*{laborDescription}"/>
                    </div>

                    <br>
                    <br>

                    <div class="field-update">
                        <label>Time</label>
                        <input type="text" th:field="*{timedLabor}"/>
                    </div>

                        <br>

                    <div>
                        <input type="submit" class="btn" value="Submit"/>
                    </div>
                </div>

            </form>

        </div>















        </div>


</body>
</html>