
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/labor/labor-prices.css}">
    <title>Labor price page</title>

</head>
<body>
    
    <header>
        <h1>Labor Prices</h1>
    </header>
    

        <div class="container">


            <div class="container-prices">

                    <form action="#" th:action="@{/prices/setPrices}" class="form" method="POST"
                                        th:object="${price}">

                        <div class="mech">
                            <label>Mechanical Price</label>
                            <span th:if="${laborPrices.id == 0}">
                                <input type="text" th:field="*{mechanicalLaborPrice}" class="field" />
                            </span>
                                <label th:text="${laborPrices.mechanicalLaborPrice}"></label>
                                <label th:if="${#fields.hasErrors('mechanicalLaborPrice')}" th:errors="*{mechanicalLaborPrice}" class="error"></label>
                        </div>

                                   

                        <div class="body">
                            <label>Body Price</label>
                            <span th:if="${laborPrices.id == 0}">
                                <input type="text" th:field="*{bodyLaborPrice}" class="field" />
                            </span>
                            <label th:text="${laborPrices.bodyLaborPrice}"></label>
                            <label th:if="${#fields.hasErrors('bodyLaborPrice')}" th:errors="*{bodyLaborPrice}" class="error"></label>
                        </div>

                                

                        <div class="electric">
                            <label>Electrical Price</label>
                            <span th:if="${laborPrices.id == 0}">
                                <input type="text" th:field="*{electricalLaborPrice}" class="field"/>
                            </span>
                                <label th:text="${laborPrices.electricalLaborPrice}"></label>
                            <label th:if="${#fields.hasErrors('electricalLaborPrice')}" th:errors="*{electricalLaborPrice}" class="error"></label>
                        </div>

                                   

                        <div class="normal">
                            <label>Normal Price</label>
                            <span th:if="${laborPrices.id == 0}">
                                <input type="text" th:field="*{normalLaborPrice}" class="field"/>
                            </span>
                                <label th:text="${laborPrices.normalLaborPrice}"></label>
                            <label th:if="${#fields.hasErrors('normalLaborPrice')}" th:errors="*{normalLaborPrice}" class="error"></label>
                        </div>

                                     

                        <div class="diesel">
                            <label>Itp Diesel Price</label>
                            <span th:if="${laborPrices.id == 0}">
                                <input type="text" th:field="*{itpDieselEnginePrice}" class="field"/>
                            </span>
                                <label th:text="${laborPrices.itpDieselEnginePrice}"></label>
                            <label th:if="${#fields.hasErrors('itpDieselEnginePrice')}" th:errors="*{itpDieselEnginePrice}" class="error"></label>
                        </div>

                                      

                        <div class="gasoline">
                            <label>Itp Gasoline Price</label>
                            <span th:if="${laborPrices.id == 0}">
                                <input type="text" th:field="*{itpGasolineEnginePrice}" class="field"/>
                            </span>
                                <label th:text="${laborPrices.itpGasolineEnginePrice}"></label>
                            <label th:if="${#fields.hasErrors('itpGasolineEnginePrice')}" th:errors="*{itpGasolineEnginePrice}" class="error"></label>
                        </div>

                                  

                        <div class="suv">
                            <label>Itp Suv Price</label>
                            <span th:if="${laborPrices.id == 0}">
                                <input type="text" th:field="*{itpSuvPrice}" class="field"/>
                            </span>
                                <label th:text="${laborPrices.itpSuvPrice}"></label>
                            <label th:if="${#fields.hasErrors('itpSuvPrice')}" th:errors="*{itpSuvPrice}" class="error"></label>
                        </div>

                                   

                        <div class="truck">
                            <label>Itp Truck Price</label>
                            <span th:if="${laborPrices.id == 0}">
                                <input type="text"  th:field="*{itpTruckPrice}" class="field"/>
                            </span>
                                <label th:text="${laborPrices.itpTruckPrice}"></label>
                            <label th:if="${#fields.hasErrors('itpTruckPrice')}" th:errors="*{itpTruckPrice}" class="error"></label>
                        </div>

                              
                        <div th:if="${laborPrices.id == 0}" class="create">
                            <input type="submit" class="btn" value="Create Prices" />
                        </div>

                    </form>
            </div>



                                   


            <div class="container-update" th:if="${laborPrices.id != 0.0}">
                <form action="#" th:action="@{/prices/updatePrice}" class="update-form" method="POST">
                    
                    <div class="upd">
                        <label>Update Price</label>
                        <input th:type="text" th:name="updatePrice" class="update-field"/>
                        <label th:if="${param.invalid}" class="error">Invalid number</label>
                    </div>
                   
                        
                      


                    <select th:name="category" class="category">
                            <option th:each=" cat : ${category}"
                                        th:value="${cat.toString()}" th:text="${cat.toString()}">
                            </option>
                    </select>


                   

                    <input type="submit" class="btn" value="Update"/>
                </form>
            </div>

            <div class="home">
                <a th:href="@{/main}" class="link" >
                    <input type="button" class="btn" value="Home"/>
                </a>
            </div>
                   
                      
               

        </div>

        <footer>
            <p>powerd by Ginitoru&trade;</p>
        </footer>



</body>
</html>